body{
    background-color: rgb(204, 184, 228);
    color: white;
}
h1{
    color:rgb(92, 92, 143);
}

p{
    color:rgb(223, 83, 83);
}

img{
    border-radius: 50%;
}
#special{
    color:#6495ed; 
    background-color: #DCDCDC;
}

#special2{
    color: #2F4F4F; 
    background-color: #F0FFF0;
}

#special13{
    color: rgb(219, 20, 146);
    background-color: rgb(160, 185, 199);
}

#special4{
    border: 2px solid red;
}

